header,
main,
footer {
  padding-left: 240px;
}

body {
  background: white;
}
footer{
  bottom: 0;
  height: auto;
}
@media only screen and (max-width: 992px) {
  header,
  main,
  footer {
    padding-left: 0;
    background-color: black !important;
  }
}

#credits li,
#credits li a {
  color: white;
}

#credits li a {
  font-weight: bold;
}

.footer-copyright .container,
.footer-copyright .container a {
  color: #bcc2e2;
}

.fab-tip {
  position: fixed;
  right: 85px;
  padding: 0px 0.5rem;
  text-align: right;
  background-color: #323232;
  border-radius: 2px;
  color: #fff;
  width: auto;
}
.form-title{
  font-size: 24px;
}
.name-page{
  width: 100%;
  background-color: #303f9f;
  color: #fff;
  border-radius: 10px;
  text-align: center;
  padding: 15px;
}